@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-slate-100 text-slate-600;
  }
}

@layer components {
  .ghost {
    @apply cursor-grabbing opacity-0;
  }

  .anchor {
    @apply scroll-ml-4 scroll-mt-48;
  }

  .anchor:target {
    @apply animate-bg-blink;
  }

  .footnotes {
    @apply rounded-md bg-slate-100 p-2;
  }

  .fnref {
    @apply rounded-full bg-primary/20 px-1 no-underline;
  }

  .hide-source .footnotes {
    @apply hidden;
  }

  .hide-source .fnref {
    @apply hidden;
  }

  .hide-author .author {
    @apply hidden;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
